# Checking-in and Checking-out
*               text=auto
*.csv           text eol=crlf
*.js            text
*.json          text
*.lock          text
*.rs            text diff=rust
*.toml          text
*.txt           text
*.yaml          text
.clang-format   text
.editorconfig   text
.prettierignore text

# Archive Creation
.gitattributes export-ignore
.gitignore     export-ignore
